mat-card {
  margin: 88px;
  padding: 52px;
}

mat-expansion-panel-header {
  height: 72px;
  font-size: 16px;
}
.main-panel-header {
  font-weight: 500;
}

table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
tr, th, td {
   text-align: left;
}
