<mat-card>
  <mat-card-header>
    <mat-card-title>My sensors</mat-card-title>
  </mat-card-header>

  <mat-accordion *ngIf="readingReal">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="main-panel-header">
          Real Board
          <mat-icon color="warn" [ngStyle]="{'display':getWarningDisplay(problemReal)}">warning</mat-icon>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-chip-list aria-label="Real board sensors">
        <a routerLink="/{{readingReal.channel.id}}/air-temperature"><mat-chip [color]="getChipColorReal(20,24, 1)" selected>Air Temperature</mat-chip></a>
        <a routerLink="/{{readingReal.channel.id}}/humidity"><mat-chip [color]="getChipColorReal(40,50, 2)" selected>Humidity</mat-chip></a>
        <a routerLink="/{{readingReal.channel.id}}/pressure"><mat-chip [color]="getChipColorReal(100000,101325, 3)" selected>Air Pressure</mat-chip></a>
        <a routerLink="/{{readingReal.channel.id}}/leaf-wetness"><mat-chip [color]="getChipColorReal(0,2.5, 4)" selected>Leaf Wetness</mat-chip></a>
        <a routerLink="/{{readingReal.channel.id}}/soil-moisture"><mat-chip [color]="getChipColorReal(10,30, 5)" selected>Soil Moisture</mat-chip></a>
        <a routerLink="/{{readingReal.channel.id}}/soil-temperature"><mat-chip [color]="getChipColorReal(18,24, 6)" selected>Soil Temperature</mat-chip></a>
        <a routerLink="/{{readingReal.channel.id}}/fruit-diameter"><mat-chip>Fruit Diameter</mat-chip></a>
      </mat-chip-list>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion *ngIf="reading1">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="main-panel-header">
          Simulated Board 1
          <mat-icon color="warn" [ngStyle]="{'display':getWarningDisplay(problem1)}">warning</mat-icon>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-chip-list aria-label="Simulated board 1 sensors">
        <a routerLink="/{{reading1.channel.id}}/air-temperature"><mat-chip [color]="getChipColor(20,24, 1, reading1)" selected>Air Temperature</mat-chip></a>
        <a routerLink="/{{reading1.channel.id}}/humidity"><mat-chip [color]="getChipColor(40,50, 2, reading1)" selected>Humidity</mat-chip></a>
        <a routerLink="/{{reading1.channel.id}}/pressure"><mat-chip [color]="getChipColor(100000,101325, 3, reading1)" selected>Air Pressure</mat-chip></a>
        <a routerLink="/{{reading1.channel.id}}/leaf-wetness"><mat-chip [color]="getChipColor(0,2.5, 4, reading1)" selected>Leaf Wetness</mat-chip></a>
        <a routerLink="/{{reading1.channel.id}}/soil-moisture"><mat-chip [color]="getChipColor(10,30, 5, reading1)" selected>Soil Moisture</mat-chip></a>
        <a routerLink="/{{reading1.channel.id}}/soil-temperature"><mat-chip [color]="getChipColor(18,24, 6, reading1)" selected>Soil Temperature</mat-chip></a>
        <a routerLink="/{{reading1.channel.id}}/fruit-diameter"><mat-chip>Fruit Diameter</mat-chip></a>
      </mat-chip-list>

    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion *ngIf="reading2">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="main-panel-header">
          Simulated Board 2
          <mat-icon color="warn" [ngStyle]="{'display':getWarningDisplay(problem2)}">warning</mat-icon>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-chip-list aria-label="Simulated board 2 sensors">
        <a routerLink="/{{reading2.channel.id}}/air-temperature"><mat-chip [color]="getChipColor(20,24, 1, reading2)" selected>Air Temperature</mat-chip></a>
        <a routerLink="/{{reading2.channel.id}}/humidity"><mat-chip [color]="getChipColor(40,50, 2, reading2)" selected>Humidity</mat-chip></a>
        <a routerLink="/{{reading2.channel.id}}/pressure"><mat-chip [color]="getChipColor(100000,101325, 3, reading2)" selected>Air Pressure</mat-chip></a>
        <a routerLink="/{{reading2.channel.id}}/leaf-wetness"><mat-chip [color]="getChipColor(0,2.5, 4, reading2)" selected>Leaf Wetness</mat-chip></a>
        <a routerLink="/{{reading2.channel.id}}/soil-moisture"><mat-chip [color]="getChipColor(10,30, 5, reading2)" selected>Soil Moisture</mat-chip></a>
        <a routerLink="/{{reading2.channel.id}}/soil-temperature"><mat-chip [color]="getChipColor(18,24, 6, reading2)" selected>Soil Temperature</mat-chip></a>
        <a routerLink="/{{reading2.channel.id}}/fruit-diameter"><mat-chip>Fruit Diameter</mat-chip></a>
      </mat-chip-list>

    </mat-expansion-panel>
  </mat-accordion>

</mat-card>


