<mat-card>
  <mat-card-header>
    <mat-card-title>My sensors</mat-card-title>
  </mat-card-header>

  <mat-accordion *ngIf="reading1">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="main-panel-header">Simulated Board 1</mat-panel-title>
      </mat-expansion-panel-header>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Air Temperature
            </mat-panel-title>
            <!--<mat-panel-description>
              description
            </mat-panel-description>-->
          </mat-expansion-panel-header>
          <table>
            <tr>
              <th>{{getTime(reading1.feeds["0"].created_at)}}</th>
              <th>{{getTime(reading1.feeds["1"].created_at)}}</th>
              <th>{{getTime(reading1.feeds["2"].created_at)}}</th>
              <th>{{getTime(reading1.feeds["3"].created_at)}}</th>
              <th>{{getTime(reading1.feeds["4"].created_at)}}</th>
              <th>{{getTime(reading1.feeds["5"].created_at)}}</th>
              <th>{{getTime(reading1.feeds["6"].created_at)}}</th>
              <th>{{getTime(reading1.feeds["7"].created_at)}}</th>
              <th>{{getTime(reading1.feeds["8"].created_at)}}</th>
              <th>{{getTime(reading1.feeds["9"].created_at)}}</th>
            </tr>
            <tr>
              <td>{{reading1.feeds["0"].field1}}</td>
              <td>{{reading1.feeds["1"].field1}}</td>
              <td>{{reading1.feeds["2"].field1}}</td>
              <td>{{reading1.feeds["3"].field1}}</td>
              <td>{{reading1.feeds["4"].field1}}</td>
              <td>{{reading1.feeds["5"].field1}}</td>
              <td>{{reading1.feeds["6"].field1}}</td>
              <td>{{reading1.feeds["7"].field1}}</td>
              <td>{{reading1.feeds["8"].field1}}</td>
              <td>{{reading1.feeds["9"].field1}}</td>
            </tr>
          </table>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Humidity
            </mat-panel-title>
            <!--<mat-panel-description>
              description
            </mat-panel-description>-->
          </mat-expansion-panel-header>
          <table>
            <tr>
              <th>{{getTime(reading1.feeds["0"].created_at)}}</th>
              <th>{{getTime(reading1.feeds["1"].created_at)}}</th>
              <th>{{getTime(reading1.feeds["2"].created_at)}}</th>
              <th>{{getTime(reading1.feeds["3"].created_at)}}</th>
              <th>{{getTime(reading1.feeds["4"].created_at)}}</th>
              <th>{{getTime(reading1.feeds["5"].created_at)}}</th>
              <th>{{getTime(reading1.feeds["6"].created_at)}}</th>
              <th>{{getTime(reading1.feeds["7"].created_at)}}</th>
              <th>{{getTime(reading1.feeds["8"].created_at)}}</th>
              <th>{{getTime(reading1.feeds["9"].created_at)}}</th>
            </tr>
            <tr>
              <td>{{reading1.feeds["0"].field2}}</td>
              <td>{{reading1.feeds["1"].field2}}</td>
              <td>{{reading1.feeds["2"].field2}}</td>
              <td>{{reading1.feeds["3"].field2}}</td>
              <td>{{reading1.feeds["4"].field2}}</td>
              <td>{{reading1.feeds["5"].field2}}</td>
              <td>{{reading1.feeds["6"].field2}}</td>
              <td>{{reading1.feeds["7"].field2}}</td>
              <td>{{reading1.feeds["8"].field2}}</td>
              <td>{{reading1.feeds["9"].field2}}</td>
            </tr>
          </table>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Air Pressure
            </mat-panel-title>
            <!--<mat-panel-description>
              description
            </mat-panel-description>-->
          </mat-expansion-panel-header>
          <table>
            <tr>
              <th>{{getTime(reading1.feeds["0"].created_at)}}</th>
              <th>{{getTime(reading1.feeds["1"].created_at)}}</th>
              <th>{{getTime(reading1.feeds["2"].created_at)}}</th>
              <th>{{getTime(reading1.feeds["3"].created_at)}}</th>
              <th>{{getTime(reading1.feeds["4"].created_at)}}</th>
              <th>{{getTime(reading1.feeds["5"].created_at)}}</th>
              <th>{{getTime(reading1.feeds["6"].created_at)}}</th>
              <th>{{getTime(reading1.feeds["7"].created_at)}}</th>
              <th>{{getTime(reading1.feeds["8"].created_at)}}</th>
              <th>{{getTime(reading1.feeds["9"].created_at)}}</th>
            </tr>
            <tr>
              <td>{{reading1.feeds["0"].field3}}</td>
              <td>{{reading1.feeds["1"].field3}}</td>
              <td>{{reading1.feeds["2"].field3}}</td>
              <td>{{reading1.feeds["3"].field3}}</td>
              <td>{{reading1.feeds["4"].field3}}</td>
              <td>{{reading1.feeds["5"].field3}}</td>
              <td>{{reading1.feeds["6"].field3}}</td>
              <td>{{reading1.feeds["7"].field3}}</td>
              <td>{{reading1.feeds["8"].field3}}</td>
              <td>{{reading1.feeds["9"].field3}}</td>
            </tr>
          </table>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Leaf Wetness
            </mat-panel-title>
            <!--<mat-panel-description>
              description
            </mat-panel-description>-->
          </mat-expansion-panel-header>
          <table>
            <tr>
              <th>{{getTime(reading1.feeds["0"].created_at)}}</th>
              <th>{{getTime(reading1.feeds["1"].created_at)}}</th>
              <th>{{getTime(reading1.feeds["2"].created_at)}}</th>
              <th>{{getTime(reading1.feeds["3"].created_at)}}</th>
              <th>{{getTime(reading1.feeds["4"].created_at)}}</th>
              <th>{{getTime(reading1.feeds["5"].created_at)}}</th>
              <th>{{getTime(reading1.feeds["6"].created_at)}}</th>
              <th>{{getTime(reading1.feeds["7"].created_at)}}</th>
              <th>{{getTime(reading1.feeds["8"].created_at)}}</th>
              <th>{{getTime(reading1.feeds["9"].created_at)}}</th>
            </tr>
            <tr>
              <td>{{reading1.feeds["0"].field4}}</td>
              <td>{{reading1.feeds["1"].field4}}</td>
              <td>{{reading1.feeds["2"].field4}}</td>
              <td>{{reading1.feeds["3"].field4}}</td>
              <td>{{reading1.feeds["4"].field4}}</td>
              <td>{{reading1.feeds["5"].field4}}</td>
              <td>{{reading1.feeds["6"].field4}}</td>
              <td>{{reading1.feeds["7"].field4}}</td>
              <td>{{reading1.feeds["8"].field4}}</td>
              <td>{{reading1.feeds["9"].field4}}</td>
            </tr>
          </table>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Soil Moisture
            </mat-panel-title>
            <!--<mat-panel-description>
              description
            </mat-panel-description>-->
          </mat-expansion-panel-header>
          <table>
            <tr>
              <th>{{getTime(reading1.feeds["0"].created_at)}}</th>
              <th>{{getTime(reading1.feeds["1"].created_at)}}</th>
              <th>{{getTime(reading1.feeds["2"].created_at)}}</th>
              <th>{{getTime(reading1.feeds["3"].created_at)}}</th>
              <th>{{getTime(reading1.feeds["4"].created_at)}}</th>
              <th>{{getTime(reading1.feeds["5"].created_at)}}</th>
              <th>{{getTime(reading1.feeds["6"].created_at)}}</th>
              <th>{{getTime(reading1.feeds["7"].created_at)}}</th>
              <th>{{getTime(reading1.feeds["8"].created_at)}}</th>
              <th>{{getTime(reading1.feeds["9"].created_at)}}</th>
            </tr>
            <tr>
              <td>{{reading1.feeds["0"].field5}}</td>
              <td>{{reading1.feeds["1"].field5}}</td>
              <td>{{reading1.feeds["2"].field5}}</td>
              <td>{{reading1.feeds["3"].field5}}</td>
              <td>{{reading1.feeds["4"].field5}}</td>
              <td>{{reading1.feeds["5"].field5}}</td>
              <td>{{reading1.feeds["6"].field5}}</td>
              <td>{{reading1.feeds["7"].field5}}</td>
              <td>{{reading1.feeds["8"].field5}}</td>
              <td>{{reading1.feeds["9"].field5}}</td>
            </tr>
          </table>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Soil Temperature
            </mat-panel-title>
            <!--<mat-panel-description>
              description
            </mat-panel-description>-->
          </mat-expansion-panel-header>
          <table>
            <tr>
              <th>{{getTime(reading1.feeds["0"].created_at)}}</th>
              <th>{{getTime(reading1.feeds["1"].created_at)}}</th>
              <th>{{getTime(reading1.feeds["2"].created_at)}}</th>
              <th>{{getTime(reading1.feeds["3"].created_at)}}</th>
              <th>{{getTime(reading1.feeds["4"].created_at)}}</th>
              <th>{{getTime(reading1.feeds["5"].created_at)}}</th>
              <th>{{getTime(reading1.feeds["6"].created_at)}}</th>
              <th>{{getTime(reading1.feeds["7"].created_at)}}</th>
              <th>{{getTime(reading1.feeds["8"].created_at)}}</th>
              <th>{{getTime(reading1.feeds["9"].created_at)}}</th>
            </tr>
            <tr>
              <td>{{reading1.feeds["0"].field6}}</td>
              <td>{{reading1.feeds["1"].field6}}</td>
              <td>{{reading1.feeds["2"].field6}}</td>
              <td>{{reading1.feeds["3"].field6}}</td>
              <td>{{reading1.feeds["4"].field6}}</td>
              <td>{{reading1.feeds["5"].field6}}</td>
              <td>{{reading1.feeds["6"].field6}}</td>
              <td>{{reading1.feeds["7"].field6}}</td>
              <td>{{reading1.feeds["8"].field6}}</td>
              <td>{{reading1.feeds["9"].field6}}</td>
            </tr>
          </table>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion *ngIf="reading2">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="main-panel-header">Simulated Board 2</mat-panel-title>
      </mat-expansion-panel-header>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Air Temperature
            </mat-panel-title>
            <!--<mat-panel-description>
              description
            </mat-panel-description>-->
          </mat-expansion-panel-header>
          <table>
            <tr>
              <th>{{getTime(reading2.feeds["0"].created_at)}}</th>
              <th>{{getTime(reading2.feeds["1"].created_at)}}</th>
              <th>{{getTime(reading2.feeds["2"].created_at)}}</th>
              <th>{{getTime(reading2.feeds["3"].created_at)}}</th>
              <th>{{getTime(reading2.feeds["4"].created_at)}}</th>
              <th>{{getTime(reading2.feeds["5"].created_at)}}</th>
              <th>{{getTime(reading2.feeds["6"].created_at)}}</th>
              <th>{{getTime(reading2.feeds["7"].created_at)}}</th>
              <th>{{getTime(reading2.feeds["8"].created_at)}}</th>
              <th>{{getTime(reading2.feeds["9"].created_at)}}</th>
            </tr>
            <tr>
              <td>{{reading2.feeds["0"].field1}}</td>
              <td>{{reading2.feeds["1"].field1}}</td>
              <td>{{reading2.feeds["2"].field1}}</td>
              <td>{{reading2.feeds["3"].field1}}</td>
              <td>{{reading2.feeds["4"].field1}}</td>
              <td>{{reading2.feeds["5"].field1}}</td>
              <td>{{reading2.feeds["6"].field1}}</td>
              <td>{{reading2.feeds["7"].field1}}</td>
              <td>{{reading2.feeds["8"].field1}}</td>
              <td>{{reading2.feeds["9"].field1}}</td>
            </tr>
          </table>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Humidity
            </mat-panel-title>
            <!--<mat-panel-description>
              description
            </mat-panel-description>-->
          </mat-expansion-panel-header>
          <table>
            <tr>
              <th>{{getTime(reading2.feeds["0"].created_at)}}</th>
              <th>{{getTime(reading2.feeds["1"].created_at)}}</th>
              <th>{{getTime(reading2.feeds["2"].created_at)}}</th>
              <th>{{getTime(reading2.feeds["3"].created_at)}}</th>
              <th>{{getTime(reading2.feeds["4"].created_at)}}</th>
              <th>{{getTime(reading2.feeds["5"].created_at)}}</th>
              <th>{{getTime(reading2.feeds["6"].created_at)}}</th>
              <th>{{getTime(reading2.feeds["7"].created_at)}}</th>
              <th>{{getTime(reading2.feeds["8"].created_at)}}</th>
              <th>{{getTime(reading2.feeds["9"].created_at)}}</th>
            </tr>
            <tr>
              <td>{{reading2.feeds["0"].field2}}</td>
              <td>{{reading2.feeds["1"].field2}}</td>
              <td>{{reading2.feeds["2"].field2}}</td>
              <td>{{reading2.feeds["3"].field2}}</td>
              <td>{{reading2.feeds["4"].field2}}</td>
              <td>{{reading2.feeds["5"].field2}}</td>
              <td>{{reading2.feeds["6"].field2}}</td>
              <td>{{reading2.feeds["7"].field2}}</td>
              <td>{{reading2.feeds["8"].field2}}</td>
              <td>{{reading2.feeds["9"].field2}}</td>
            </tr>
          </table>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Air Pressure
            </mat-panel-title>
            <!--<mat-panel-description>
              description
            </mat-panel-description>-->
          </mat-expansion-panel-header>
          <table>
            <tr>
              <th>{{getTime(reading2.feeds["0"].created_at)}}</th>
              <th>{{getTime(reading2.feeds["1"].created_at)}}</th>
              <th>{{getTime(reading2.feeds["2"].created_at)}}</th>
              <th>{{getTime(reading2.feeds["3"].created_at)}}</th>
              <th>{{getTime(reading2.feeds["4"].created_at)}}</th>
              <th>{{getTime(reading2.feeds["5"].created_at)}}</th>
              <th>{{getTime(reading2.feeds["6"].created_at)}}</th>
              <th>{{getTime(reading2.feeds["7"].created_at)}}</th>
              <th>{{getTime(reading2.feeds["8"].created_at)}}</th>
              <th>{{getTime(reading2.feeds["9"].created_at)}}</th>
            </tr>
            <tr>
              <td>{{reading2.feeds["0"].field3}}</td>
              <td>{{reading2.feeds["1"].field3}}</td>
              <td>{{reading2.feeds["2"].field3}}</td>
              <td>{{reading2.feeds["3"].field3}}</td>
              <td>{{reading2.feeds["4"].field3}}</td>
              <td>{{reading2.feeds["5"].field3}}</td>
              <td>{{reading2.feeds["6"].field3}}</td>
              <td>{{reading2.feeds["7"].field3}}</td>
              <td>{{reading2.feeds["8"].field3}}</td>
              <td>{{reading2.feeds["9"].field3}}</td>
            </tr>
          </table>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Leaf Wetness
            </mat-panel-title>
            <!--<mat-panel-description>
              description
            </mat-panel-description>-->
          </mat-expansion-panel-header>
          <table>
            <tr>
              <th>{{getTime(reading2.feeds["0"].created_at)}}</th>
              <th>{{getTime(reading2.feeds["1"].created_at)}}</th>
              <th>{{getTime(reading2.feeds["2"].created_at)}}</th>
              <th>{{getTime(reading2.feeds["3"].created_at)}}</th>
              <th>{{getTime(reading2.feeds["4"].created_at)}}</th>
              <th>{{getTime(reading2.feeds["5"].created_at)}}</th>
              <th>{{getTime(reading2.feeds["6"].created_at)}}</th>
              <th>{{getTime(reading2.feeds["7"].created_at)}}</th>
              <th>{{getTime(reading2.feeds["8"].created_at)}}</th>
              <th>{{getTime(reading2.feeds["9"].created_at)}}</th>
            </tr>
            <tr>
              <td>{{reading2.feeds["0"].field4}}</td>
              <td>{{reading2.feeds["1"].field4}}</td>
              <td>{{reading2.feeds["2"].field4}}</td>
              <td>{{reading2.feeds["3"].field4}}</td>
              <td>{{reading2.feeds["4"].field4}}</td>
              <td>{{reading2.feeds["5"].field4}}</td>
              <td>{{reading2.feeds["6"].field4}}</td>
              <td>{{reading2.feeds["7"].field4}}</td>
              <td>{{reading2.feeds["8"].field4}}</td>
              <td>{{reading2.feeds["9"].field4}}</td>
            </tr>
          </table>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Soil Moisture
            </mat-panel-title>
            <!--<mat-panel-description>
              description
            </mat-panel-description>-->
          </mat-expansion-panel-header>
          <table>
            <tr>
              <th>{{getTime(reading2.feeds["0"].created_at)}}</th>
              <th>{{getTime(reading2.feeds["1"].created_at)}}</th>
              <th>{{getTime(reading2.feeds["2"].created_at)}}</th>
              <th>{{getTime(reading2.feeds["3"].created_at)}}</th>
              <th>{{getTime(reading2.feeds["4"].created_at)}}</th>
              <th>{{getTime(reading2.feeds["5"].created_at)}}</th>
              <th>{{getTime(reading2.feeds["6"].created_at)}}</th>
              <th>{{getTime(reading2.feeds["7"].created_at)}}</th>
              <th>{{getTime(reading2.feeds["8"].created_at)}}</th>
              <th>{{getTime(reading2.feeds["9"].created_at)}}</th>
            </tr>
            <tr>
              <td>{{reading2.feeds["0"].field5}}</td>
              <td>{{reading2.feeds["1"].field5}}</td>
              <td>{{reading2.feeds["2"].field5}}</td>
              <td>{{reading2.feeds["3"].field5}}</td>
              <td>{{reading2.feeds["4"].field5}}</td>
              <td>{{reading2.feeds["5"].field5}}</td>
              <td>{{reading2.feeds["6"].field5}}</td>
              <td>{{reading2.feeds["7"].field5}}</td>
              <td>{{reading2.feeds["8"].field5}}</td>
              <td>{{reading2.feeds["9"].field5}}</td>
            </tr>
          </table>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Soil Temperature
            </mat-panel-title>
            <!--<mat-panel-description>
              description
            </mat-panel-description>-->
          </mat-expansion-panel-header>
          <table>
            <tr>
              <th>{{getTime(reading2.feeds["0"].created_at)}}</th>
              <th>{{getTime(reading2.feeds["1"].created_at)}}</th>
              <th>{{getTime(reading2.feeds["2"].created_at)}}</th>
              <th>{{getTime(reading2.feeds["3"].created_at)}}</th>
              <th>{{getTime(reading2.feeds["4"].created_at)}}</th>
              <th>{{getTime(reading2.feeds["5"].created_at)}}</th>
              <th>{{getTime(reading2.feeds["6"].created_at)}}</th>
              <th>{{getTime(reading2.feeds["7"].created_at)}}</th>
              <th>{{getTime(reading2.feeds["8"].created_at)}}</th>
              <th>{{getTime(reading2.feeds["9"].created_at)}}</th>
            </tr>
            <tr>
              <td>{{reading2.feeds["0"].field6}}</td>
              <td>{{reading2.feeds["1"].field6}}</td>
              <td>{{reading2.feeds["2"].field6}}</td>
              <td>{{reading2.feeds["3"].field6}}</td>
              <td>{{reading2.feeds["4"].field6}}</td>
              <td>{{reading2.feeds["5"].field6}}</td>
              <td>{{reading2.feeds["6"].field6}}</td>
              <td>{{reading2.feeds["7"].field6}}</td>
              <td>{{reading2.feeds["8"].field6}}</td>
              <td>{{reading2.feeds["9"].field6}}</td>
            </tr>
          </table>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-expansion-panel>
  </mat-accordion>

</mat-card>


