/*body, html {
  min-height: 490px;  /* footer na dnu!! 426 */
  /*padding-bottom: 64px;*/
  /*display: block;
  position: relative;
}*/

mat-card {
  margin: 88px 88px 103px;
  padding: 64px 52px;
}

mat-expansion-panel-header {
  height: 72px;
  font-size: 16px;
}
.main-panel-header {
  font-weight: 500;
}

mat-chip {
  margin-right: 16px !important;
}

a { color: black; text-decoration: none;}
a:hover { text-shadow: 1px 1px;}
