<mat-card>
  <mat-card-header>
    <mat-card-title>My sensors</mat-card-title>
  </mat-card-header>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Air Temperature
        </mat-panel-title>
        <!--<mat-panel-description>
          description
        </mat-panel-description>-->
      </mat-expansion-panel-header>
      <table>
        <tr>
          <th>00:00</th>
          <th>00:01</th>
          <th>00:02</th>
          <th>00:03</th>
          <th>00:04</th>
          <th>00:05</th>
          <th>00:06</th>
          <th>00:07</th>
          <th>00:08</th>
          <th>00:09</th>
        </tr>
        <tr>
          <td>49</td>
          <td>40</td>
          <td>55</td>
          <td>45</td>
          <td>45</td>
          <td>54</td>
          <td>52</td>
          <td>44</td>
          <td>40</td>
          <td>42</td>
        </tr>
      </table>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Air Humidity
        </mat-panel-title>
        <!--<mat-panel-description>
          description
        </mat-panel-description>-->
      </mat-expansion-panel-header>
      <table>
        <tr>
          <th>00:00</th>
          <th>00:01</th>
          <th>00:02</th>
          <th>00:03</th>
          <th>00:04</th>
          <th>00:05</th>
          <th>00:06</th>
          <th>00:07</th>
          <th>00:08</th>
          <th>00:09</th>
        </tr>
        <tr>
          <td>49</td>
          <td>40</td>
          <td>55</td>
          <td>45</td>
          <td>45</td>
          <td>54</td>
          <td>52</td>
          <td>44</td>
          <td>40</td>
          <td>42</td>
        </tr>
      </table>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Atmospheric Pressure
        </mat-panel-title>
        <!--<mat-panel-description>
          description
        </mat-panel-description>-->
      </mat-expansion-panel-header>
      <table>
        <tr>
          <th>00:00</th>
          <th>00:01</th>
          <th>00:02</th>
          <th>00:03</th>
          <th>00:04</th>
          <th>00:05</th>
          <th>00:06</th>
          <th>00:07</th>
          <th>00:08</th>
          <th>00:09</th>
        </tr>
        <tr>
          <td>49</td>
          <td>40</td>
          <td>55</td>
          <td>45</td>
          <td>45</td>
          <td>54</td>
          <td>52</td>
          <td>44</td>
          <td>40</td>
          <td>42</td>
        </tr>
      </table>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Soil Temperature
        </mat-panel-title>
        <!--<mat-panel-description>
          description
        </mat-panel-description>-->
      </mat-expansion-panel-header>
      <table>
        <tr>
          <th>00:00</th>
          <th>00:01</th>
          <th>00:02</th>
          <th>00:03</th>
          <th>00:04</th>
          <th>00:05</th>
          <th>00:06</th>
          <th>00:07</th>
          <th>00:08</th>
          <th>00:09</th>
        </tr>
        <tr>
          <td>49</td>
          <td>40</td>
          <td>55</td>
          <td>45</td>
          <td>45</td>
          <td>54</td>
          <td>52</td>
          <td>44</td>
          <td>40</td>
          <td>42</td>
        </tr>
      </table>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Soil Moisture
        </mat-panel-title>
        <!--<mat-panel-description>
          description
        </mat-panel-description>-->
      </mat-expansion-panel-header>
      <table>
        <tr>
          <th>00:00</th>
          <th>00:01</th>
          <th>00:02</th>
          <th>00:03</th>
          <th>00:04</th>
          <th>00:05</th>
          <th>00:06</th>
          <th>00:07</th>
          <th>00:08</th>
          <th>00:09</th>
        </tr>
        <tr>
          <td>49</td>
          <td>40</td>
          <td>55</td>
          <td>45</td>
          <td>45</td>
          <td>54</td>
          <td>52</td>
          <td>44</td>
          <td>40</td>
          <td>42</td>
        </tr>
      </table>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Leaf Wetness
        </mat-panel-title>
        <!--<mat-panel-description>
          description
        </mat-panel-description>-->
      </mat-expansion-panel-header>
      <table>
        <tr>
          <th>00:00</th>
          <th>00:01</th>
          <th>00:02</th>
          <th>00:03</th>
          <th>00:04</th>
          <th>00:05</th>
          <th>00:06</th>
          <th>00:07</th>
          <th>00:08</th>
          <th>00:09</th>
        </tr>
        <tr>
          <td>49</td>
          <td>40</td>
          <td>55</td>
          <td>45</td>
          <td>45</td>
          <td>54</td>
          <td>52</td>
          <td>44</td>
          <td>40</td>
          <td>42</td>
        </tr>
      </table>
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>



